body {
  font-family: "Montserrat", "Noto Sans KR", AppleGothic, sans-serif;
  font-size: 100%;
  color: #202020;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  display: inline-block;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
em {
  font-style: normal;
  font-weight: 700;
}
.membership .membershipContent {
  width: 90%;
  max-width: 1150px;
  margin: 65px auto 80px auto;
}

.membership .membershipContent .membershipInfo .membershipText > span {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 900;
  color: #071f60;
}
.membership .membershipContent .membershipInfo .membershipText > p {
  font-size: 40px;
  font-weight: 700;
  color: #202020;
}
.membership .membershipContent .membershipInfo .membershipText dl::before {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 30px 0 30px 0;
  background: #202020;
}
.membership .membershipContent .membershipInfo .membershipText dt {
  margin-bottom: 20px;
  font-size: 30px;
  color: #202020;
}
.membership dd {
  margin: 0;
}
.membership .membershipContent .membershipInfo .membershipText dd p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
  color: #606060;
}
.membership
  .membershipContent
  .membershipInfo
  .membershipText
  dd
  p
  span.blockText {
  display: block;
}
.membership .membershipContent .membershipInfo .membershipText .membershipDown {
  display: table;
  width: 100%;
  margin-top: 40px;
}
.membership
  .membershipContent
  .membershipInfo
  .membershipText
  .membershipDown
  li {
  float: left;
  width: 49%;
  max-width: 250px;
  margin-right: 2%;
}
.membership
  .membershipContent
  .membershipInfo
  .membershipText
  .membershipDown
  li:last-child {
  margin-right: 0;
}
.membership
  .membershipContent
  .membershipInfo
  .membershipText
  .membershipDown
  li
  a {
  display: block;
}
.membership .membershipContent .membershipInfo .membershipImg {
  max-width: 350px;
  margin: 40px auto 40px auto;
}
.membership .membershipContent .membershipUl {
  text-align: center;
}
.membership .membershipContent .membershipUl li {
  margin-bottom: 30px;
}
.membership .membershipContent .membershipUl li .memIcon::after {
  position: absolute;
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  top: 0;
  left: 50%;
  margin-left: -70px;
  background: #f8f8f8;
  border-radius: 100% 100% 100% 100%;
}
.membership .membershipContent .membershipUl li .memIcon {
  position: relative;
  text-align: center;
}
.membership .membershipContent .membershipUl li .memIcon img {
  position: relative;
  width: 140px;
  z-index: 10;
}
.membership .membershipContent .membershipUl li dl {
  margin-top: 20px;
}
.membership .membershipContent .membershipUl li dt {
  font-size: 20px;
  font-weight: 700;
}
.membership .membershipContent .membershipUl li dd {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #606060;
}
.membership .membershipContent .membershipUl li dd span.blockText {
  display: block;
}
.membership .orderContent {
  padding: 80px 0 80px 0;
  background: #f8f8f8;
}
.membership .orderContent .orderInfo {
  width: 92%;
  max-width: 1150px;
  margin: auto;
}
.membership .orderContent .orderInfo .orderMain::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 25px auto 30px auto;
  background: #202020;
}
.membership .orderContent .orderInfo .orderMain {
  font-size: 45px;
  font-weight: 400;
  color: #202020;
  text-align: center;
  line-height: 1.4em;
}
.membership .orderContent .orderInfo .orderMain em {
  display: block;
  font-weight: 700;
}
.membership .orderContent .orderInfo .orderText {
  font-size: 20px;
  font-weight: 300;
  color: #202020;
  text-align: center;
}
.membership .orderContent .orderInfo .orderText em {
  box-shadow: inset 0 -10px #ffe417;
  font-weight: 700;
}
.membership .orderContent .orderInfo .orderText span.blockText {
  display: block;
}
.membership .orderContent .orderBox {
  margin-top: 30px;
  padding: 40px 5% 40px 5%;
  background: #fff;
  border-radius: 20px 20px 20px 20px;
}
.membership .orderContent .orderBox ul {
  text-align: center;
}
.membership .orderContent .orderBox ul li {
  margin-bottom: 30px;
}
.membership .orderContent .orderBox ul li .orderIcon::after {
  position: absolute;
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  top: 0;
  left: 50%;
  margin-left: -70px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 100% 100%;
  box-sizing: border-box;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}
.membership .orderContent .orderBox ul li .orderIcon {
  position: relative;
}
.membership .orderContent .orderBox ul li .orderIcon img {
  position: relative;
  width: 140px;
  z-index: 10;
}
.membership .orderContent .orderBox ul li dl {
  margin-top: 20px;
}
.membership .orderContent .orderBox ul li dt {
  font-size: 20px;
  font-weight: 700;
  color: #001f60;
}
.membership .orderContent .orderBox ul li dd {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #606060;
}
.membership .orderContent .orderBox ul li dd span.blockText {
  display: block;
}
.membership .orderContent .orderInfo .orderText p {
  font-size: 18px;
  font-weight: 300;
  color: #606060;
}
.membership .orderContent .orderInfo .orderUl {
  margin-top: 60px;
  text-align: center;
}
.membership .orderContent .orderInfo .orderUl li {
  margin-bottom: 30px;
}
.membership .orderContent .orderInfo .orderUl li .functionIcon::after {
  position: absolute;
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  top: 0;
  left: 50%;
  margin-left: -70px;
  background: #fff;
  border-radius: 100% 100% 100% 100%;
}
.membership .orderContent .orderInfo .orderUl li .functionIcon {
  position: relative;
  text-align: center;
}
.membership .orderContent .orderInfo .orderUl li .functionIcon img {
  position: relative;
  width: 140px;
  z-index: 10;
}
.membership .orderContent .orderInfo .orderUl li dl {
  margin-top: 20px;
}
.membership .orderContent .orderInfo .orderUl li dt {
  font-size: 18px;
  font-weight: 700;
}
.membership .orderContent .orderInfo .orderUl li dd {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #606060;
}
.membership .orderContent .orderInfo .orderUl li dd span.blockText {
  display: block;
}
.membership .orderContent .orderInfo .orderUl li:last-child {
  margin-bottom: 0;
}
.membership .giftContent {
  width: 92%;
  max-width: 1150px;
  margin: 80px auto 140px auto;
}
.membership .giftMain {
  font-size: 30px;
  font-weight: 400;
  color: #202020;
  text-align: center;
}
.membership .giftMain::after {
  content: "";
  display: block;
  width: 40px;
  height: 2px;
  margin: 25px auto 30px;
  background: #202020;
}
.membership .giftMain em {
  font-weight: 700;
}
.membership .giftContent .giftText {
  font-weight: 300;
  color: #202020;
  text-align: center;
}
.membership .giftContent .giftText em {
  box-shadow: inset 0 -10px #ffe417;
  font-weight: 700;
}
.membership .giftContent .giftUl {
  margin-top: 60px;
  text-align: center;
}
.membership .giftContent .giftUl li {
  margin-bottom: 30px;
}
.membership .giftContent .giftUl li .giftIcon {
  position: relative;
  text-align: center;
}
.membership .giftContent .giftUl li .giftIcon::after {
  position: absolute;
  content: "";
  display: block;
  width: 140px;
  height: 140px;
  top: 0;
  left: 50%;
  margin-left: -70px;
  background: #f8f8f8;
  border-radius: 100% 100% 100% 100%;
}
.membership .giftContent .giftUl li .giftIcon img {
  position: relative;
  width: 140px;
  z-index: 10;
}
.membership .giftContent .giftUl li dl {
  margin-top: 20px;
}
.membership .giftContent .giftUl li dt {
  font-size: 18px;
  font-weight: 700;
}
.membership .giftContent .giftUl li dd {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 300;
  color: #606060;
}
.membership .giftContent .giftUl li dd span.blockText {
  display: block;
}
.membership .giftContent .giftUl li:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 670px) {
  .membership .membershipContent .membershipUl {
    font-size: 0;
  }
  .membership .membershipContent .membershipUl li {
    display: inline-block;
    width: 33.3333%;
    margin-bottom: 0;
    vertical-align: top;
  }
  .membership .orderContent .orderBox ul {
    font-size: 0;
  }
  .membership .orderContent .orderBox ul li {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
  }
  .membership .orderContent .orderBox ul li:first-child {
    margin-right: 60px;
  }
  .membership .orderContent .orderBox .orderText {
    display: table;
    margin: 40px auto 0 auto;
  }
  .membership .orderContent .orderInfo .orderUl {
    max-width: 460px;
    margin: 60px auto 0 auto;
    font-size: 0;
  }
  .membership .orderContent .orderInfo .orderUl li {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .membership .giftContent .giftText span.blockText {
    display: block;
  }
  .membership .giftContent .giftUl {
    max-width: 700px;
    margin: 60px auto 0 auto;
    font-size: 0;
  }
  .membership .giftContent .giftUl li {
    display: inline-block;
    width: 33.3333%;
    vertical-align: top;
  }
}
@media screen and (min-width: 1020px) {
  .membership .membershipContent .membershipInfo {
    display: table;
    width: 100%;
  }
  .membership .membershipContent .membershipInfo .membershipText {
    float: left;
    width: calc(100% - 409px);
  }
  .membership
    .membershipContent
    .membershipInfo
    .membershipText
    .membershipDown {
    max-width: none;
  }
  .membership
    .membershipContent
    .membershipInfo
    .membershipText
    .membershipDown
    li {
    width: 250px;
    margin-right: 15px;
  }
  .membership .membershipContent .membershipInfo .membershipImg {
    float: right;
  }
  .membership .membershipContent .membershipUl {
    max-width: 1020px;
    margin: 120px auto 0 auto;
  }
  .membership .membershipContent .membershipUl li .memIcon::after {
    width: 160px;
    height: 160px;
    margin-left: -80px;
  }
  .membership .membershipContent .membershipUl li .memIcon img {
    width: 160px;
  }
  .membership .orderContent {
    padding: 120px 0 120px 0;
  }
  .membership .orderContent .orderBox {
    max-width: 1030px;
    margin: 80px 80px 0 80px;
    padding: 60px 70px 60px 70px;
  }
  .membership .orderContent .orderBox ul {
    display: table;
    width: 100%;
  }
  .membership .orderContent .orderBox ul li {
    float: left;
    display: table;
  }
  .membership .orderContent .orderBox ul li:first-child {
    margin-right: 0;
  }
  .membership .orderContent .orderBox ul li .orderIcon {
    display: table-cell;
    vertical-align: middle;
  }
  .membership .orderContent .orderBox ul li dl {
    display: table-cell;
    padding-left: 50px;
    vertical-align: middle;
    text-align: left;
  }
  .membership .orderContent .orderBox ul li dd {
    margin-top: 15px;
    font-size: 20px;
  }
  .membership .orderContent .orderBox ul li:last-child {
    float: right;
  }
  .membership .orderContent .orderBox .orderText {
    margin: 80px auto 0 auto;
  }
  .membership .orderContent .orderInfo .orderUl {
    max-width: 1030px;
    margin: 80px auto 0 auto;
  }
  .membership .orderContent .orderInfo .orderUl li {
    width: 25%;
    margin-bottom: 0;
  }
  .membership .orderContent .orderInfo .orderUl li .functionIcon::after {
    width: 160px;
    height: 160px;
    margin-left: -80px;
  }
  .membership .orderContent .orderInfo .orderUl li .functionIcon img {
    width: 160px;
  }
  .membership .orderContent .orderInfo .orderUl li dt {
    font-size: 24px;
  }
  .membership .orderContent .orderInfo .orderUl li dd {
    margin-top: 15px;
    font-size: 20px;
  }
  .membership .giftContent {
    margin: 120px auto 120px auto;
  }
  .membership .giftMain {
    font-size: 45px;
  }
  .membership .giftMain em {
    display: block;
  }
  .membership .giftContent .giftText {
    font-size: 24px;
  }
  .membership .giftContent .giftUl {
    max-width: 1150px;
    margin: 80px auto 0 auto;
  }
  .membership .giftContent .giftUl li {
    width: 20%;
  }
  .membership .giftContent .giftUl li .giftIcon img {
    width: 160px;
  }
  .membership .giftContent .giftUl li .giftIcon::after {
    width: 160px;
    height: 160px;
    margin-left: -80px;
  }
  .membership .giftContent .giftUl li dt {
    font-size: 24px;
  }
  .membership .giftContent .giftUl li dd {
    margin-top: 15px;
    font-size: 20px;
  }
}
@media screen and (max-width: 670px) {
  .membership .membershipContent .membershipUl li {
    width: 100%;
  }
  .membership .giftContent .giftUl li {
    width: 100%;
  }
}
